@page
@model QuickDevopsVariableEdit.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form asp-page-handler="GotoProject" method="post">
   <label>Enter devops orginization Url
   <input type="text" name="url" value="@Model.VariableClient.organisationUrl" required/></label><br/>
   <label>Enter Personal Access Tokens
   <input type="text" name="accessToken" value="@Model.VariableClient.token" required/></label><br/>
   <button id="gotoEdit">Goto Edit</button>
</form>